<a href="https://colab.research.google.com/github/HamzaSajjad141/Numpy-Complete-Notes/blob/main/Complete-Numpy-Notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**![image.png]()**

 **Importing Numpy**

In [35]:
import numpy as np

**Creating 1D arrays from lists**

In [ ]:
python_list = [3,2,5,8,4,9,7,6,1]
array = np.array(python_list)
array

array([3, 2, 5, 8, 4, 9, 7, 6, 1])

**Finding the Datatype of the array**

In [ ]:
type(array)

numpy.ndarray

**Creating 2D array from lists**

In [ ]:
python_list_2d = [[3,2,5],
                  [9,7,1],
                  [4,3,6]]
np.array(python_list_2d)

array([[3, 2, 5],
       [9, 7, 1],
       [4, 3, 6]])

**Creating arrays: np.zeros()**

In [ ]:
# it will create an array and filled with zeros
np.zeros((3,3))

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

**Creating arrays: np.random.random()**

In [ ]:
np.random.random((3,3)) #it will generate random float numbers between 0 and 1

array([[0.32213984, 0.7138955 , 0.36451028],
       [0.3578922 , 0.59743047, 0.78490005],
       [0.15962676, 0.35649047, 0.19620383]])

**Creating arrays with np.arange()**

In [ ]:
#it will create an array of sequential integers and have a syntax np.arange(start, stop)
np.arange(-2,6)

array([-2, -1,  0,  1,  2,  3,  4,  5])

In [ ]:
# it will have a syntax like this np.arange(stop)
np.arange(9)

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [ ]:
# it will have a syntax like this np.arange(start, stop, step)
np.arange(-3,4,3)

array([-3,  0,  3])

**Array Attribute : Finding an array shape**

In [ ]:
array = np.zeros((3,4))
array

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [ ]:
#it will show the dimension of the array
array.shape

(3, 4)

**Array Method : Flattening an array**

In [ ]:
#it will convert the multiple dimension to single dimension like convert 2d to 1d
array = np.array([[1,2],[3,5],[8,9]])
array.flatten()

array([1, 2, 3, 5, 8, 9])

**Array Method : Reshaping an array**

In [ ]:
# .reshape() method is used to change the shape (dimensions) of an array without changing its data.
# it syntax is numpy_array.reshape(new_shape)
# It's important to note that the total number of elements in the original array must be the same as the total number of elements in the reshaped array.
array = np.array([[1,2],[3,5],[8,9]])
array.reshape((2,3))

array([[1, 2, 3],
       [5, 8, 9]])

In [ ]:
array.reshape(6)

array([1, 2, 3, 5, 8, 9])

In [ ]:
array.reshape(1,2,3)

array([[[1, 2, 3],
        [5, 8, 9]]])

**Numpy datatypes**

In [ ]:
import numpy as np

# Integer types
arr_int32 = np.array([1, 2, 3], dtype=np.int32)
arr_int64 = np.array([1, 2, 3], dtype=np.int64)

# Floating-point types
arr_float32 = np.array([1.0, 2.0, 3.0], dtype=np.float32)
arr_float64 = np.array([1.0, 2.0, 3.0], dtype=np.float64)

# Complex types
arr_complex64 = np.array([1 + 2j, 3 + 4j], dtype=np.complex64)
arr_complex128 = np.array([1 + 2j, 3 + 4j], dtype=np.complex128)

# Boolean type
arr_bool = np.array([True, False, True], dtype=np.bool_)

# String type
arr_str = np.array(['apple', 'banana', 'cherry'], dtype=np.str_)

# Unicode type
arr_unicode = np.array(['α', 'β', 'γ'], dtype=np.unicode_)

# You can also use the shorthand notations
arr_int = np.array([1, 2, 3], dtype=int)
arr_float = np.array([1.0, 2.0, 3.0], dtype=float)

# Displaying the created arrays
print("Integer 32:", arr_int32)
print("Integer 64:", arr_int64)
print("Float 32:", arr_float32)
print("Float 64:", arr_float64)
print("Complex 64:", arr_complex64)
print("Complex 128:", arr_complex128)
print("Boolean:", arr_bool)
print("String:", arr_str)
print("Unicode:", arr_unicode)
print("Integer (shorthand):", arr_int)
print("Float (shorthand):", arr_float)
#check the datatype
print("The datatype of array : arr_int32 = ",arr_int32.dtype)

Integer 32: [1 2 3]
Integer 64: [1 2 3]
Float 32: [1. 2. 3.]
Float 64: [1. 2. 3.]
Complex 64: [1.+2.j 3.+4.j]
Complex 128: [1.+2.j 3.+4.j]
Boolean: [ True False  True]
String: ['apple' 'banana' 'cherry']
Unicode: ['α' 'β' 'γ']
Integer (shorthand): [1 2 3]
Float (shorthand): [1. 2. 3.]
The datatype of array : arr_int32 =  int32

**Changing the datatype**

In [ ]:
import numpy as np

# Original array
original_arr = np.array([1, 2, 3])

print("Original Array:")
print(original_arr)

# Change to float
float_arr = original_arr.astype(np.float64)
print("\nArray as Float:")
print(float_arr)

# Change to complex
complex_arr = original_arr.astype(np.complex128)
print("\nArray as Complex:")
print(complex_arr)

Original Array:
[1 2 3]

Array as Float:
[1. 2. 3.]

Array as Complex:
[1.+0.j 2.+0.j 3.+0.j]

**Indexing and Slicing Arrays**

**Indexing 1d Arrays**

In [ ]:
array = np.array([1,2,3,4,5])
array[2]

3

**Indexing 2d Arrays**

In [ ]:
array2d = np.array([[3,2,5],
                  [9,7,1],
                  [4,3,6]])

array2d[1,2]

1

In [ ]:
array2d[0]

array([3, 2, 5])

In [ ]:
array2d[:,1]

array([2, 7, 3])

**Slicing 1D arrays**

In [ ]:
array = np.array([1,3,5,7])
array[0:3]

array([1, 3, 5])

**slicing 2d arrays**

In [ ]:
#its syntax array[start_row:end_row, start_column:end_column]
array2d = np.array([[3,2,5],
                  [9,7,1],
                  [4,3,6]])
array2d[0:2,1:2]

array([[2],
       [7]])

In [ ]:
#slicing 2d array with step value
#its syntax numpy_array[start_row:end_row:step_row, start_column:end_column:step_column]

matrix = np.array([[1, 2, 3, 4],
                   [5, 6, 7, 8],
                   [9, 10, 11, 12],
                   [13, 14, 15, 16]])

matrix[1:4:2, 0:4:2]

array([[ 5,  7],
       [13, 15]])

**Sorting Arrays**

**numpy.sort()** is a function in NumPy that returns a sorted copy of an array along a specified axis. The function has the following syntax:

**numpy.sort(a, axis=-1, kind=None, order=None)**

**a:** The input array to be sorted.

**axis:** (Optional) Axis along which to sort. If not specified, the array is flattened before sorting. Default is -1, which means sort along the last axis.

**kind:** (Optional) Sorting algorithm. Default is 'quicksort'.

**order:** (Optional) If the array is structured (i.e., if it has fields defined), this parameter specifies which fields to use for sorting.

**Sorting 1d Array**

**=> np.sort() method**

In [ ]:
arr = np.array([3, 1, 2, 5, 4])

# Sort the array
sorted_arr = np.sort(arr)

print(sorted_arr)

[1 2 3 4 5]

**=> In-place Sorting**

In [ ]:
arr = np.array([3, 1, 2, 5, 4])

# In-place sort
arr.sort()

print(arr)

[1 2 3 4 5]

**Sorting 2d Arrays**

**=> Sorting Along Row and Column**

In [ ]:
#it will sort  in ascending order
#sort the array by row  axis = 0 represent row and axis = 1 column
arr2d = np.array([[14,6,7,9],
                          [12,5,3,6],
                          [23,9,4,1],
                          [20,34,56,78],
                          [8,4,6,3]])
# Sort along rows
sorted_rows = np.sort(arr2d, axis=1)

# Sort along columns
sorted_cols = np.sort(arr2d, axis=0)

print("Sorted Rows:")
print(sorted_rows)

print("Sorted Columns:")
print(sorted_cols)

Sorted Rows:
[[ 6  7  9 14]
 [ 3  5  6 12]
 [ 1  4  9 23]
 [20 34 56 78]
 [ 3  4  6  8]]
Sorted Columns:
[[ 8  4  3  1]
 [12  5  4  3]
 [14  6  6  6]
 [20  9  7  9]
 [23 34 56 78]]

**Sorting in descending order**

In [ ]:
#it will sort  in descending order
arr = np.array([3, 1, 2, 5, 4])

# Sort in descending order
sorted_1darr_desc = np.sort(arr)[::-1]

print("Sorted 1d-Array in Descending Order:")
print(sorted_1darr_desc)

arr2d = np.array([[14,6,7,9],
                  [12,5,3,6],
                  [23,9,4,1],
                  [20,34,56,78],
                  [8,4,6,3]])
sorted_2darr_desc = np.sort(arr2d, axis = 0)[::-1]
#[::-1]  it sorts each column in ascending order and then reverses the order of the rows to achieve descending order for each column.
print("Sorted 2d-Array in Descending Order:")
print(sorted_2darr_desc)

Sorted 1d-Array in Descending Order:
[5 4 3 2 1]
Sorted 2d-Array in Descending Order:
[[23 34 56 78]
 [20  9  7  9]
 [14  6  6  6]
 [12  5  4  3]
 [ 8  4  3  1]]

**numpy.sort() function with the kind and order parameters**

In [ ]:
import numpy as np

# Creating a structured array with fields 'name' and 'value'
data = np.array([('John', 3),
                 ('Alice', 1),
                 ('Bob', 4),
                 ('Eve', 2)],
                dtype=[('name', 'U10'), ('value', int)])

# Sorting by the 'value' field in descending order using the 'mergesort' algorithm
sorted_data = np.sort(data, order=['value'], kind='mergesort')[::-1]

print("Original structured array:")
print(data)

print("\nSorted structured array by 'value' field in descending order using 'mergesort':")
print(sorted_data)

Original structured array:
[('John', 3) ('Alice', 1) ('Bob', 4) ('Eve', 2)]

Sorted structured array by 'value' field in descending order using 'mergesort':
[('Bob', 4) ('John', 3) ('Eve', 2) ('Alice', 1)]

**Filtering Arrays**

Two ways to filter

1.Masks and fancy indexing

2.np.where

**Boolean masks**

In NumPy, a **boolean mask** refers to a boolean array that has the same shape as another array, and it is used to filter or select elements from the original array based on the True/False values in the boolean mask. The boolean mask acts as a filter, indicating which elements should be included in the result.

In [ ]:
array1d = np.array([1,2,3,4,5,6,7,8])
mask = array1d % 2 == 0  # this is boolean mask (Condition)
print("Boolean mask = ",mask)
print("Fancy Indexing = ",array1d[mask]) #this is fancy indexing

Boolean mask =  [False  True False  True False  True False  True]
Fancy Indexing =  [2 4 6 8]

In [ ]:
array1d = np.array([1,2,3,4,5,6,7,8])
mask = array1d > 3  # this is boolean mask (Condition)
print("Boolean mask = ",mask)
print("Fancy Indexing = ",array1d[mask]) #this is fancy indexing

Boolean mask =  [False False False  True  True  True  True  True]
Fancy Indexing =  [4 5 6 7 8]

2D Fancy Indexing

In [ ]:
#fancy indexing returns array of elements
classroom_ids_and_sizes = np.array([[1,22],[2,21],[3,27],[4,26]])
print(classroom_ids_and_sizes)
# Create a boolean mask (condition) to identify even-sized classrooms
print(classroom_ids_and_sizes[:,1] % 2 == 0)
# Use boolean indexing to extract the classroom IDs where sizes are even
classroom_ids_and_sizes[:,0][classroom_ids_and_sizes[:,1] % 2 == 0] #fancy indexing

[[ 1 22]
 [ 2 21]
 [ 3 27]
 [ 4 26]]
[ True False False  True]

array([1, 4])

filtering with np.where()

**np.where** is a function in the NumPy library that provides a way to conditionally choose elements from two arrays based on a specified condition. It returns the indices where the specified condition is true.

Its Syntax is

numpy.where(condition, x, y)

**condition:** A boolean array-like or a condition that selects elements from x or y based on its truth value.

**x:** Values to choose from where the condition is true.

**y:** Values to choose from where the condition is false.

In [ ]:
#it returns the array of indices
classroom_ids_and_sizes = np.array([[1,22],[2,21],[3,27],[4,26]])
np.where(classroom_ids_and_sizes[:,1] % 2 == 0) #gives the result in tuple

(array([0, 3]),)

In [ ]:
# Using Boolean Condition
# In this example, elements less than or equal to 2 are replaced with 0, and elements greater than 2 remain unchanged.
arr = np.array([1, 2, 3, 4, 5])
condition = arr > 2

result = np.where(condition, arr, 0)
print(result)

[0 0 3 4 5]

In [ ]:
# Using Boolean Condition
#In this case, values greater than 2 are replaced with 10, and values less than or equal to 2 are replaced with 0.
arr = np.array([1, 2, 3, 4, 5])
result = np.where(arr > 2, 10, 0)
print(result)

[ 0  0 10 10 10]

In [ ]:
# Multiple Conditions
# elements between 2 and 5 (exclusive) are replaced with 'A', and others are replaced with 'B'.
arr = np.array([1, 2, 3, 4, 5])
result = np.where((arr > 2) & (arr < 5), 'A', 'B')
print(result)

['B' 'B' 'A' 'A' 'B']

**Adding and Removing Data (Array Elements)**

Add the array elements means concatenate it
In NumPy, the **np.concatenate** function is used to concatenate arrays along a specified axis. The syntax for np.concatenate is as follows:

numpy.concatenate((a1, a2, ...), axis=0, out=None, dtype=None, casting="same_kind")


**a1, a2, ...:** Sequence of arrays to concatenate. The arrays must have the same shape along all dimensions except for the concatenation axis.

**axis:** The axis along which the arrays will be joined. If not specified, the arrays are flattened before concatenation.

**out:** If provided, the result will be placed into this array. It must be of the appropriate shape and dtype.

**dtype:** The data type of the resulting array. If not specified, the data type is inferred from the input arrays.

**casting:** Controls what kind of data casting may occur. The default is "same_kind", which allows for casting within the same kind of data types.

In [ ]:
 # Creating two arrays for concatenation
array1 = np.array([[1, 2], [3, 4]])
array2 = np.array([[5, 6]])

# Concatenating along axis 0 (rows)
result = np.concatenate((array1, array2), axis=0)

print(result)

[[1 2]
 [3 4]
 [5 6]]

In [ ]:
# Creating two arrays for concatenation
array1 = np.array([[1, 2], [3, 4]])
array2 = np.array([[5, 6]])

# Concatenating along axis 1 (columns)
result = np.concatenate((array1, array2.T), axis=1)

print(result)

[[1 2 5]
 [3 4 6]]

Removing the Array Elements means delete it

The **np.delete** function in NumPy is used to delete specified elements along a specified axis from an array. The syntax for np.delete is as follows:

numpy.delete(arr, obj, axis=None)


**arr:** Input array from which elements are deleted.

**obj:** Index or indices of elements to be deleted. If an element is a slice, the specified range of elements will be deleted. If it is an integer or array of integers, the corresponding elements will be deleted.

**axis:** The axis along which to delete the specified elements. If not specified, the array is flattened before deletion.

In [ ]:


# Creating an array
arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

# Deleting the second row (axis 0)
result = np.delete(arr, 1, axis=0)

print(result)

[[1 2 3]
 [7 8 9]]

In [ ]:


# Creating an array
arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

# Deleting the second column (axis 1)
result = np.delete(arr, 1, axis=1)

print(result)

[[1 3]
 [4 6]
 [7 9]]

**Summarizing Data**

**Aggregating Methods**

1) .sum()

2) .min()

3) .max()

4) .mean()

5) .cumsum()

In [ ]:
# Creating an array
arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
arr.sum() #it sums all the elements in the array

45

In [ ]:
# Creating an array
arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
arr.sum(axis = 0) #it applies sum across rows

array([12, 15, 18])

In [ ]:
# Creating an array
arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
arr.sum(axis = 1) #it applies sum across columns

array([ 6, 15, 24])

In [ ]:
# Creating an array
arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
print(arr.min())
print(arr.max())
print(arr.mean())
print(arr.cumsum())

1
9
5.0
[ 1  3  6 10 15 21 28 36 45]

In [4]:
# Example array
arr = np.array([[1, 2, 3],
                [4, 5, 6]])

# 1) .sum() along axis 0 (columns)
sum_axis_0_result = arr.sum(axis=0)
print("Sum along axis 0 (columns):", sum_axis_0_result)

# 2) .min() along axis 1 (rows)
min_axis_1_result = arr.min(axis=1)
print("Minimum along axis 1 (rows):", min_axis_1_result)

# 3) .max() along axis 0 (columns)
max_axis_0_result = arr.max(axis=0)
print("Maximum along axis 0 (columns):", max_axis_0_result)

# 4) .mean() along axis 1 (rows)
mean_axis_1_result = arr.mean(axis=1)
print("Mean along axis 1 (rows):", mean_axis_1_result)

# 5) .cumsum() along axis 0 (columns)
cumsum_axis_0_result = arr.cumsum(axis=0)
print("Cumulative sum along axis 0 (columns):", cumsum_axis_0_result)

# You can also specify the axis for cumulative sum along axis 1 (rows)
cumsum_axis_1_result = arr.cumsum(axis=1)
print("Cumulative sum along axis 1 (rows):", cumsum_axis_1_result)

Sum along axis 0 (columns): [5 7 9]
Minimum along axis 1 (rows): [1 4]
Maximum along axis 0 (columns): [4 5 6]
Mean along axis 1 (rows): [2. 5.]
Cumulative sum along axis 0 (columns): [[1 2 3]
 [5 7 9]]
Cumulative sum along axis 1 (rows): [[ 1  3  6]
 [ 4  9 15]]

**Vectorized Operation**

**Vectorized operations** in NumPy refer to performing operations on entire arrays or matrices at once, without the need for explicit looping. This is possible because NumPy is designed to handle array operations efficiently.

In [8]:
array1 = np.array([1, 2, 3])
array2 = np.array([4, 5, 6])
result = array1 + array2
print(result)

[5 7 9]

In [9]:
array1 = np.array([1, 2, 3])
result = array1 * 6
print(result)

[ 6 12 18]

In [11]:
# this code demonstrates the use of NumPy arrays and vectorized operations to efficiently apply the str.upper function to each element in the array, resulting in an array of uppercase strings.
array1 = np.array(["my", "name", "is","hamza"])
vectorized_arr = np.vectorize(str.upper)
result = vectorized_arr(array1)
print(result)

['MY' 'NAME' 'IS' 'HAMZA']

**Broadcasting**

In NumPy, **broadcasting** is a powerful feature that allows operations on arrays of different shapes and sizes, without the need for explicit looping. The smaller array is "broadcast" across the larger array so that they have compatible shapes for the operation. Broadcasting can be particularly useful for vectorized operations, making code more concise and efficient.

Here are the **basic rules** for broadcasting in NumPy:

**Rule 1:** If the arrays do not have the same rank, pad the smaller shape with ones on its left side.

**Rule 2:** Compare the sizes of the corresponding dimensions. If one of the dimensions is 1 in one of the arrays and non-1 in the other, the array with size 1 is stretched to match the larger size.

**Rule 3:** If for any dimension, the sizes are different and neither is 1, then broadcasting is not possible, and an error will occur.

In [21]:
# Rule 1: If the arrays do not have the same rank, pad the smaller shape with ones on its left side.
a = np.array([1, 2, 3])  # Shape: (3,)
b = np.array([[4], [5], [6]])  # Shape: (3, 1)

# Rule 2: Compare the sizes of the corresponding dimensions.
# If one of the dimensions is 1 in one of the arrays and non-1 in the other, the array with size 1 is stretched.
result = a + b

print(result)

[[5 6 7]
 [6 7 8]
 [7 8 9]]

In [ ]:
# Rule 3: If for any dimension, the sizes are different and neither is 1, then broadcasting is not possible.
c = np.array([[1, 2, 3], [4, 5, 6]])  # Shape: (2, 3)
d = np.array([1, 2])  # Shape: (2,)

# Broadcasting is not possible here due to Rule 3.
result = c + d  # This will raise a ValueError.

In [12]:
a = np.array([1, 2, 3])
b = 2

result = a + b  # Broadcasting the scalar to the array
print(result)

[3 4 5]

In [13]:
A = np.array([[1, 2, 3], [4, 5, 6]])
B = np.array([10, 20, 30])

result = A + B  # Broadcasting the 1D array to the 2D array
print(result)

[[11 22 33]
 [14 25 36]]

In [14]:
A = np.array([[1, 2, 3], [4, 5, 6]])
B = np.array([[10], [20]])

result = A + B  # Broadcasting arrays with different shapes
print(result)

[[11 12 13]
 [24 25 26]]

In [15]:
A = np.array([[1, 2, 3], [4, 5, 6]])
B = np.array([[10, 20, 30]])

result = A + B  # Broadcasting with different shapes
print(result)

[[11 22 33]
 [14 25 36]]

In [16]:
A = np.array([1, 2, 3])
B = np.array([[10], [20], [30]])

result = A + B  # Broadcasting along different axes
print(result)

[[11 12 13]
 [21 22 23]
 [31 32 33]]

In [17]:
A = np.array([[1, 2, 3], [4, 5, 6]])
B = np.array([[2, 2, 2]])

result = np.power(A, B)  # Broadcasting with a function (power)
print(result)

[[ 1  4  9]
 [16 25 36]]

In [18]:
A = np.array([[1, 2, 3], [4, 5, 6]])
threshold = 3

result = np.where(A > threshold, A, 0)  # Broadcasting with conditional operation
print(result)

[[0 0 0]
 [4 5 6]]

In [19]:
A = np.array([[1, 2, 3], [4, 5, 6]])

# Broadcasting with reduction operation (sum along axis)
result = A.sum(axis=0)
print(result)

[5 7 9]

In [20]:
A = np.array([[[1, 2], [3, 4]], [[5, 6], [7, 8]]])
B = np.array([[10], [20]])

result = A + B  # Broadcasting in 3D arrays
print(result)

[[[11 12]
  [23 24]]

 [[15 16]
  [27 28]]]

**If we need help()**

In [23]:
#if you dont know what this function do
help(np.unique)

Help on _ArrayFunctionDispatcher in module numpy:

unique(ar, return_index=False, return_inverse=False, return_counts=False, axis=None, *, equal_nan=True)
    Find the unique elements of an array.

    Returns the sorted unique elements of an array. There are three optional
    outputs in addition to the unique elements:

    * the indices of the input array that give the unique values
    * the indices of the unique array that reconstruct the input array
    * the number of times each unique value comes up in the input array

    Parameters
    ----------
    ar : array_like
        Input array. Unless `axis` is specified, this will be flattened if it
        is not already 1-D.
    return_index : bool, optional
        If True, also return the indices of `ar` (along the specified axis,
        if provided, or in the flattened array) that result in the unique array.
    return_inverse : bool, optional
        If True, also return the indices of the unique array (for the specified
        axis, if provided) that can be used to reconstruct `ar`.
    return_counts : bool, optional
        If True, also return the number of times each unique item appears
        in `ar`.
    axis : int or None, optional
        The axis to operate on. If None, `ar` will be flattened. If an integer,
        the subarrays indexed by the given axis will be flattened and treated
        as the elements of a 1-D array with the dimension of the given axis,
        see the notes for more details.  Object arrays or structured arrays
        that contain objects are not supported if the `axis` kwarg is used. The
        default is None.

        .. versionadded:: 1.13.0

    equal_nan : bool, optional
        If True, collapses multiple NaN values in the return array into one.

        .. versionadded:: 1.24

    Returns
    -------
    unique : ndarray
        The sorted unique values.
    unique_indices : ndarray, optional
        The indices of the first occurrences of the unique values in the
        original array. Only provided if `return_index` is True.
    unique_inverse : ndarray, optional
        The indices to reconstruct the original array from the
        unique array. Only provided if `return_inverse` is True.
    unique_counts : ndarray, optional
        The number of times each of the unique values comes up in the
        original array. Only provided if `return_counts` is True.

        .. versionadded:: 1.9.0

    See Also
    --------
    numpy.lib.arraysetops : Module with a number of other functions for
                            performing set operations on arrays.
    repeat : Repeat elements of an array.

    Notes
    -----
    When an axis is specified the subarrays indexed by the axis are sorted.
    This is done by making the specified axis the first dimension of the array
    (move the axis to the first dimension to keep the order of the other axes)
    and then flattening the subarrays in C order. The flattened subarrays are
    then viewed as a structured type with each element given a label, with the
    effect that we end up with a 1-D array of structured types that can be
    treated in the same way as any other 1-D array. The result is that the
    flattened subarrays are sorted in lexicographic order starting with the
    first element.

    .. versionchanged: NumPy 1.21
        If nan values are in the input array, a single nan is put
        to the end of the sorted unique values.

        Also for complex arrays all NaN values are considered equivalent
        (no matter whether the NaN is in the real or imaginary part).
        As the representant for the returned array the smallest one in the
        lexicographical order is chosen - see np.sort for how the lexicographical
        order is defined for complex arrays.

    Examples
    --------
    >>> np.unique([1, 1, 2, 2, 3, 3])
    array([1, 2, 3])
    >>> a = np.array([[1, 1], [2, 3]])
    >>> np.unique(a)
    array([1, 2, 3])

    Return the unique rows of a 2D array

    >>> a = np.array([[1, 0, 0], [1, 0, 0], [2, 3, 4]])
    >>> np.unique(a, axis=0)
    array([[1, 0, 0], [2, 3, 4]])

    Return the indices of the original array that give the unique values:

    >>> a = np.array(['a', 'b', 'b', 'c', 'a'])
    >>> u, indices = np.unique(a, return_index=True)
    >>> u
    array(['a', 'b', 'c'], dtype='<U1')
    >>> indices
    array([0, 1, 3])
    >>> a[indices]
    array(['a', 'b', 'c'], dtype='<U1')

    Reconstruct the input array from the unique values and inverse:

    >>> a = np.array([1, 2, 6, 4, 2, 3, 2])
    >>> u, indices = np.unique(a, return_inverse=True)
    >>> u
    array([1, 2, 3, 4, 6])
    >>> indices
    array([0, 1, 4, 3, 1, 2, 1])
    >>> u[indices]
    array([1, 2, 6, 4, 2, 3, 2])

    Reconstruct the input values from the unique values and counts:

    >>> a = np.array([1, 2, 6, 4, 2, 3, 2])
    >>> values, counts = np.unique(a, return_counts=True)
    >>> values
    array([1, 2, 3, 4, 6])
    >>> counts
    array([1, 3, 1, 1, 1])
    >>> np.repeat(values, counts)
    array([1, 2, 2, 2, 3, 4, 6])    # original order not preserved

**Saving And Loading Arrays**

In NumPy, you can save and load arrays using the save and load functions. These functions allow you to store NumPy arrays in a binary format (.npy) or a text format (.txt).

In [ ]:
#Load the mystery_image.npy file using the alias f, saving the contents as an array called rgb_array.
# Load the mystery_image.npy file
with open("mystery_image.npy" ,"rb") as f:
    rgb_array = np.load(f)

plt.imshow(rgb_array)
plt.show()

In [ ]:
# Create a NumPy array
arr = np.array([1, 2, 3, 4, 5])

# Save the array to a binary file (.npy)
np.save('array.npy', arr)

In [ ]:
import numpy as np

# Create a NumPy array
arr = np.array([1, 2, 3, 4, 5])

# Save the array to a text file (.txt)
np.savetxt('array.txt', arr)

In [ ]:
import numpy as np

# Load the array from a binary file (.npy)
arr_loaded = np.load('array.npy')

print(arr_loaded)

In [ ]:
import numpy as np

# Load the array from a text file (.txt)
arr_loaded = np.loadtxt('array.txt')

print(arr_loaded)

In [ ]:


# Create a NumPy array
arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

# Save the array to a CSV file
np.savetxt('array.csv', arr, delimiter=',')

In [ ]:


# Load the array from a CSV file
arr_loaded_csv = np.loadtxt('array.csv', delimiter=',')

print(arr_loaded_csv)

In [ ]:
import pickle

# Create a NumPy array
arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

# Save the array to a pickle file
with open('array.pkl', 'wb') as f:
    pickle.dump(arr, f)

In [ ]:
import pickle

# Load the array from a pickle file
with open('array.pkl', 'rb') as f:
    arr_loaded_pkl = pickle.load(f)

print(arr_loaded_pkl)

In [ ]:
# Save darker_rgb_int_array to an .npy file called darker_monet.npy
with open("darker_monet.npy","wb") as f:
    np.save(f,darker_rgb_int_array)

**Array Acrobatics**

**Flipping an Array**

In NumPy, you can flip or reverse the elements(include images also) along a specific axis using the numpy.flip() function.

In [25]:
# Create a sample array
arr = np.array([[1, 2, 3],
                [4, 5, 6],
                [7, 8, 9]])

# Flip the array along the horizontal axis (axis=0)
flipped_array_horizontal = np.flip(arr, axis=0)

# Flip the array along the vertical axis (axis=1)
flipped_array_vertical = np.flip(arr, axis=1)

# Flip the array along both axes
flipped_array_both = np.flip(arr)

# Flip specific sections of the array along both axes
flipped_partial_horizontal = np.flip(arr[:, 1:], axis=0)  # Flip only the second and third columns along the horizontal axis
flipped_partial_vertical = np.flip(arr[1:, :], axis=1)    # Flip only the second and third rows along the vertical axis

# Flip the array along a specific axis and keep other axes unchanged
flipped_axis0_keep_axis1 = np.flip(arr, axis=0)   # Flip along the horizontal axis (axis=0) and keep the vertical axis (axis=1) unchanged
flipped_axis1_keep_axis0 = np.flip(arr, axis=1)   # Flip along the vertical axis (axis=1) and keep the horizontal axis (axis=0) unchanged

# Display the results
print("Original array:")
print(arr)
print("\nFlipped array along the horizontal axis:")
print(flipped_array_horizontal)
print("\nFlipped array along the vertical axis:")
print(flipped_array_vertical)
print("\nFlipped array along both axes:")
print(flipped_array_both)
print("\nFlipped specific section along the horizontal axis:")
print(flipped_partial_horizontal)
print("\nFlipped specific section along the vertical axis:")
print(flipped_partial_vertical)
print("\nFlipped along axis=0, keeping axis=1 unchanged:")
print(flipped_axis0_keep_axis1)
print("\nFlipped along axis=1, keeping axis=0 unchanged:")
print(flipped_axis1_keep_axis0)

Original array:
[[1 2 3]
 [4 5 6]
 [7 8 9]]

Flipped array along the horizontal axis:
[[7 8 9]
 [4 5 6]
 [1 2 3]]

Flipped array along the vertical axis:
[[3 2 1]
 [6 5 4]
 [9 8 7]]

Flipped array along both axes:
[[9 8 7]
 [6 5 4]
 [3 2 1]]

Flipped specific section along the horizontal axis:
[[8 9]
 [5 6]
 [2 3]]

Flipped specific section along the vertical axis:
[[6 5 4]
 [9 8 7]]

Flipped along axis=0, keeping axis=1 unchanged:
[[7 8 9]
 [4 5 6]
 [1 2 3]]

Flipped along axis=1, keeping axis=0 unchanged:
[[3 2 1]
 [6 5 4]
 [9 8 7]]

**Transpose of an array**

In Python, **np.transpose()**  is a function provided by the NumPy library that allows you to transpose arrays or matrices. Transposing a matrix means switching its rows with columns. This function can be useful in various mathematical and scientific applications.

In [26]:
# Example 1: Transposing a 1D array has no effect
arr1d = np.array([1, 2, 3, 4, 5])
transposed_arr1d = np.transpose(arr1d)
print("1D array:")
print(arr1d)
print("Transposed 1D array:")
print(transposed_arr1d)
print()

# Example 2: Transposing a 2D array
arr2d = np.array([[1, 2, 3],
                  [4, 5, 6],
                  [7, 8, 9]])
transposed_arr2d = np.transpose(arr2d)
print("2D array:")
print(arr2d)
print("Transposed 2D array:")
print(transposed_arr2d)
print()

1D array:
[1 2 3 4 5]
Transposed 1D array:
[1 2 3 4 5]

2D array:
[[1 2 3]
 [4 5 6]
 [7 8 9]]
Transposed 2D array:
[[1 4 7]
 [2 5 8]
 [3 6 9]]

In [27]:
# Example 1: Transposing a 2D array with specified axes
arr2d = np.array([[1, 2, 3],
                  [4, 5, 6],
                  [7, 8, 9]])
transposed_arr2d_axes = np.transpose(arr2d, axes=(1, 0))
print("Original 2D array:")
print(arr2d)
print("Transposed 2D array with specified axes (1, 0):")
print(transposed_arr2d_axes)
print()

# Example 2: Transposing a 3D array with specified axes
arr3d = np.random.randint(10, size=(2, 3, 4))
transposed_arr3d_axes = np.transpose(arr3d, axes=(1, 0, 2))
print("Original 3D array:")
print(arr3d)
print("Transposed 3D array with specified axes (1, 0, 2):")
print(transposed_arr3d_axes)

Original 2D array:
[[1 2 3]
 [4 5 6]
 [7 8 9]]
Transposed 2D array with specified axes (1, 0):
[[1 4 7]
 [2 5 8]
 [3 6 9]]

Original 3D array:
[[[1 1 2 9]
  [6 2 4 9]
  [4 2 3 0]]

 [[3 3 5 9]
  [4 5 8 9]
  [5 4 9 6]]]
Transposed 3D array with specified axes (1, 0, 2):
[[[1 1 2 9]
  [3 3 5 9]]

 [[6 2 4 9]
  [4 5 8 9]]

 [[4 2 3 0]
  [5 4 9 6]]]

**Stacking and Splitting**

In NumPy, the **np.split()** function is used to split an array into multiple sub-arrays along a specified axis. The basic syntax is as follows:

numpy.split(ary, indices_or_sections, axis=0)


**ary:** The array to be split.

**indices_or_sections:**  If an integer, it specifies the number of equal divisions along the specified axis. If a 1-D array of sorted integers, it indicates the indices at which the array is split.

**axis:** The axis along which the array will be split. By default, it is 0 (split along the first axis).

In [28]:
# Create an array
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9])

# Split the array into three equal parts
result = np.split(arr, 3)

print(result)

[array([1, 2, 3]), array([4, 5, 6]), array([7, 8, 9])]

In [29]:
# Create a 2D array
arr_2d = np.array([[1, 2, 3],
                   [4, 5, 6],
                   [7, 8, 9]])

# Split along axis 0 (rows)
result_rows = np.split(arr_2d, 3, axis=0)
print("Split along rows:")
print(result_rows)

# Split along axis 1 (columns)
result_columns = np.split(arr_2d, 3, axis=1)
print("\nSplit along columns:")
print(result_columns)

Split along rows:
[array([[1, 2, 3]]), array([[4, 5, 6]]), array([[7, 8, 9]])]

Split along columns:
[array([[1],
       [4],
       [7]]), array([[2],
       [5],
       [8]]), array([[3],
       [6],
       [9]])]

In [30]:
# Create an array
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9])

# Unequal splits
result_unequal = np.split(arr, [2, 5, 7])
print("Unequal splits:")
print(result_unequal)

Unequal splits:
[array([1, 2]), array([3, 4, 5]), array([6, 7]), array([8, 9])]

In [31]:
# Create a 3D array
arr_3d = np.random.random((2, 3, 4))

# Split along axis 1 (columns)
result_3d = np.split(arr_3d, 3, axis=1)
print("Splitting a 3D array along axis 1:")
print(result_3d)

Splitting a 3D array along axis 1:
[array([[[0.73159533, 0.05422217, 0.03071134, 0.94591451]],

       [[0.54413035, 0.59871813, 0.78602389, 0.14681485]]]), array([[[0.62667402, 0.1210904 , 0.60455925, 0.14805225]],

       [[0.71963828, 0.31491192, 0.81938442, 0.97313378]]]), array([[[0.9031069 , 0.90132782, 0.07843971, 0.58002603]],

       [[0.86333838, 0.84705442, 0.1820483 , 0.23572114]]])]

**np.stack()** is a function provided by the NumPy library in Python. It is used to join a sequence of arrays along a new axis. The syntax for np.stack() is as follows:


numpy.stack(arrays, axis=0, out=None)


**arrays:** This parameter is a sequence of arrays that you want to stack together. These can be NumPy arrays or other array-like objects.

**axis:** This parameter specifies the axis along which the arrays will be stacked. The default value is 0, meaning the arrays will be stacked along a new axis at the beginning. You can choose a different axis by specifying the desired axis number.

**out:** This parameter (optional) allows you to provide an output array where the result will be stored. If not provided, a new array will be created.

In [32]:
# Creating two arrays
array1 = np.array([1, 2, 3])
array2 = np.array([4, 5, 6])

# Stacking the arrays along a new axis (axis=0)
result = np.stack([array1, array2])

print(result)

[[1 2 3]
 [4 5 6]]

In [ ]:


arr1 = np.array([1, 2, 3])
arr2 = np.array([4, 5, 6])
# Stacking the arrays along a new axis (axis=1)
result = np.stack([arr1, arr2], axis=1)
print(result)